.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px;
}
.header ul {
  display: flex;
  gap: 40px;
  font-size: 14px;
  list-style: none;
}
.header li a {
  color: #311f09;
  text-decoration: none;
}
.header li a:hover {
  color: #ff8a00;
}
.header .right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .right button {
  padding: 12px 36px;
  border-radius: 30px;
  background: #3fa72f;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
