.footer {
  background: #311f09;
  padding: 70px 160px 40px 160px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  color: white;
}
.footer .top {
  display: flex;
  justify-content: space-between;
}
.footer .about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 300px;
}
.footer .about img {
  width: 132px;
}
.footer .about p {
  font-size: 14px;
  line-height: 1.8;
}
.footer .icons {
  display: flex;
  gap: 14px;
}
.footer .icons img {
  width: 40px;
}
.footer .col {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 14px;
}
.footer .wide {
  width: 260px;
  line-height: 1.6;
}
.footer h4 {
  color: #ff8a00;
  font-size: 18px;
  font-weight: 500;
}
.footer .copy {
  text-align: center;
  font-size: 14px;
}
